extends ../../layout

block content
    .login-signup-container
        h1 Login

        a(href="/auth/google")
            img(src='images/btn_google_signin_light_focus_web@2x.png' height="50" width="200")

        h3 Or

        form#loginForm(method="post" action="/login")
            ul.flex-outer
                li
                    label(for="login_email") Email
                    input(type="email" name="login_email")#login_email.validate
                li
                    label(for="login_password") Password
                    input(type="password" name="login_password")#login_password.validate
                li
                    button(type="submit") Go!

        h5 Don't have an account yet? #[a(href="/signup") Create one!]