extends ../../layout

block content
    .login-signup-container
        h2 Signup

        br

        form#signupForm(method="POST" action="/signup")
            ul.flex-outer
                li
                    label(for="signup_email") Email
                    input(type="email" name="signup_email")#signup_email.validate
                li
                    label(for="signup_password") Password
                    input(type="password" name="signup_password")#signup_password.validate
                li
                    label(for="signup_password2") Confirm Password
                    input(type="password" name="signup_password2")#signup_password2.validate
                li
                    button(type="submit") Go!