//@import 'https://fonts.googleapis.com/css?family=Baloo|Bungee';
@import 'http://fonts.googleapis.com/css?family=Roboto:300,400,500,700';

$background-color: #e2e1e0;
$mainThemeColor: #2196fd;
$lightFontColor: #e3f2fd;


*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $background-color;
  margin:0 auto;
  font-family:'Roboto';
  font-weight: 300;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: $mainThemeColor;
  color: $lightFontColor;
  font-weight: 600;
  font-size: 1.5em;
  height: 100px;

  .nav-left{
    padding:15px;
  }

  .nav-right {
    height: 100%;
    display:flex;
    align-items: center;

      .nav-item{
        padding: 15px;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        height:100%;

        &:link, &:visited {
          text-decoration: none;
          color: $lightFontColor;
        }

        &:hover{
          background-color: lighten($mainThemeColor,10%);
        }
      }
  }
}

.main-content{
  display:flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mainThemeColor;
  color: white;
}

.login-signup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 15px;

  form{
    display: flex;
    flex-direction: column;
    width: 100%;

    .flex-outer, li, label {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    ul{
      padding: 0;
    }

    li{
      flex: 1 0 210px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    label, input {
      flex: 1 0 150px;
      max-width: 200px;
    }

    input{
      flex: 1 0 150px;
      max-width: 100%;
      padding: 8px 16px;
      border: none;
      outline: 0;
    }

    button{
      width:100%;
      background-color:$mainThemeColor;
      color: white;
      padding: 10px;
      &:hover{
        background-color: lighten($mainThemeColor,10%);
      }
    }
  }


}

.calendar{
  display: flex;
  flex:1;
  flex-direction: column;
  background:white;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  height:700px;
  max-width: 800px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.year{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:$mainThemeColor;
  color:white;
}

.month{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #e2e1dd;
  color:#555555;
}

.currentDay{
  background: #ee88dd;
}

#daysOfWeek{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:5px 0 0 0;
  height:40px;
  font-size:30px;
  padding:0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#daysOfWeek li{
  list-style: none;
  text-align: center;
}

table{
  width:100%;
  height:66.5%;
}

td{
  font-size:25px;
  text-align: center;

  &:hover{
    color:white;
    background-color:#3B84C0;
  }

}


/*buttons*/

button {
  background:transparent;
  border:none;

  &:focus {
    outline:0;
  }

  &:hover {
      border:none;
      background-color: rgba(0, 0, 0, 0.3);
    }
}

#info {
  color: black;
  width: 400px;
  margin: auto;
  font-size: 15px;
}